.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

.covid-main-body {
    background-color: rgb(242, 242, 242);
}

.box {
    margin: 5px;
    height: 70px;
    text-align: center;
    background-color: rgb(242, 242, 242) !important;
}

body,
wrapper {
    min-height: 100vh;
}

.covid-header {
    background-color: rgb(242, 242, 242);
}

.title {
    height: 40%;
    width: 40%;
    content: url("../images/title.png");
    margin: auto;
}

.covid-footer {
    background-color: rgb(242, 242, 242);
    text-align: center;
    direction: rtl;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: right
}

.selectpicker {
    text-align-last: right;
}

.covid-filters {
    text-align: center;
    font-size: 14px;
    direction: rtl;
    margin-bottom: 10px;
}

.filered-title {
    color: rgb(192, 90, 17);
    font-weight: bold;
    font-family: "Guttman Haim";
    direction: rtl;
}

.results-table {
    display: flex;
    justify-content: center;
}

.results-table-row {
    border-color: rgb(68, 114, 196);
}

.results-table-cell {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: rgb(68, 114, 196);
    border-style: solid;
    border-width: 5px;
    color: black;
    width: 200px;
    height: 100px;
    vertical-align: middle;
}

.results-table-result {
    color: black;
    font-size: 40px;
    font-weight: bolder;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}

.search-control {
    padding: 5px 10px;
}

.dropdown-menu>li>a {
    text-align: right;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: right;
    direction: rtl;
}

.modal-title {
    text-decoration: underline;
}


/* The Close Button */

.close {
    padding: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
}

.my-chart {
    height: 300px;
}

.graph-hidden {
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
}