/* Small devices (landscape phones, 544px and up) */

@font-face {
    font-family: "FontAwesome";
    src: url(https://cdn2.hubspot.net/hubfs/548247/Tomorrow%20People/Landing%20Page/Template%20Build/fa-regular-400.svg) format("svg");
}

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

.covid-main-body {
    background-color: rgb(242, 242, 242);
}

.box {
    margin: 5px;
    height: 70px;
    text-align: center;
    background-color: rgb(242, 242, 242) !important;
}

body,
wrapper {
    min-height: 100vh;
}

.covid-header {
    background-color: rgb(242, 242, 242);
}

@media screen and (max-width: 480px) {
    title {
        width: auto;
        max-width: 40%;
        height: auto;
        margin: auto;
    }
}

.title {
    /* width: auto;
    max-width: 40%; */
    height: auto;
    content: url("../images/title.png");
    margin: auto;
}

.covid-footer {
    background-color: rgb(0, 32, 96);
    color: cornsilk;
    text-align: center;
    direction: rtl;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: right
}

.selectpicker {
    text-align-last: right;
}

.covid-filters {
    text-align: center;
    font-size: 14px;
    direction: rtl;
    margin-bottom: 10px;
}

.filered-title {
    color: rgb(0, 32, 96);
    font-weight: bold;
    direction: rtl;
}

.results-grid {
    max-width: 700px;
}

.results-table {
    display: flex;
    justify-content: center;
}

.results-table-row {
    border-color: rgb(68, 114, 196);
}

.results-table-result-title {
    font-size: 1.1rem;
}

.comments-box {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0.2rem solid rgb(0, 32, 96);
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 50%;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="comments-b"] {
        max-width: 100%;
    }
}

.comments-title {
    text-align: right;
    font-size: 1.1rem;
    direction: rtl;
    text-decoration-style: solid;
}

.comments-text {
    text-align: right;
    font-size: 0.9rem;
    direction: rtl;
}

.results-table-cell {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: rgb(68, 114, 196);
    border-style: solid;
    border-width: 5px;
    color: black;
    max-width: 200px;
    height: 100px;
    vertical-align: middle;
}

.results-table-result {
    color: black;
    font-size: 40px;
    font-weight: bolder;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}

.search-control {
    padding: 5px 10px;
}

.dropdown-menu>li>a {
    text-align: right;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    text-align: right;
    direction: rtl;
}

.modal-title {
    text-decoration: underline;
}


/* The Close Button */

.close {
    padding: 0 !important;
    margin: 0 !important;
    outline: 0 !important;
}

.my-chart {
    height: 300px;
    margin-bottom: 20px;
}

.graph-hidden {
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
}


/* Three columns side by side */

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}


/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.about-title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(0, 32, 96);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.days-back-field {
    margin: 0 auto;
}

.spanner {
    position: absolute;
    top: 50%;
    left: 0;
    background: #2a2a2a55;
    width: 100%;
    display: block;
    text-align: center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.show {
    visibility: visible;
}

.spanner,
.overlay {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.spanner.show,
.overlay.show {
    opacity: 1
}

.spanner>p {
    font-size: 40px;
    color: rgb(192, 90, 17);
    font-weight: bold;
    font-family: "Guttman Haim";
    direction: rtl;
}

a:link,
a:visited {
    border: none;
    color: #FFFFFF;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

a:hover,
a:active {
    background-color: rgb(0, 112, 192);
}

.down-arrow {
    color: darkgreen;
    font-size: 60px;
}

.up-arrow {
    color: red;
    font-size: 60px;
}

.covid-status {
    display: inline-block;
}