<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Covid19 Status</title>
    <link href="../static1/css/main.css" rel="stylesheet">
    <link href="../static1/css/bootstrap-4.3.1-dist/bootstrap.min.css" rel="stylesheet">

    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static1/js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js"></script>
    <link rel="shortcut icon" href="../static/favicon.ico">
    <script src="../static1/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../static1/js/bootstrap-4.3.1-dist/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

    <!-- ui-select files -->
    <script src="../static1/js/select.js"></script>
    <link rel="stylesheet" href="../static1/css/select.css">

    <script src="../static1/js/app.js"></script>

</head>

<body ng-app="myApp" ng-controller="HomeCtrl">
    <wrapper class="d-flex flex-column">
        <div class="covid-header text-white">
            <div style="padding: 10px;">{{ currentDate | date:'dd/MM/yyyy' }}</div>
        </div>
        <main class="container-fluid py-3 flex-fill covid-main-body">
            <div class="title"></div>​
            <div id="error" ng-show="errorMsg">{{ errorMsg }}</div>
            <div class="covid-filters">
                <ui-select ng-model="agasSelected" on-select="agasChanged($item)" theme="select2" style="min-width: 300px;" title="בחר שכונה">
                    <ui-select-match allow-clear="true" placeholder="לחץ לפתיחת הרשימה ו\או חיפוש שכונה">{{$select.selected.districts}}</ui-select-match>
                    <ui-select-choices repeat="agas in agasFiltered | filter: {districts: $select.search}">
                        <div ng-bind-html="agas.districts | highlight: $select.search"></div>

                    </ui-select-choices>
                </ui-select>

                <ui-select ng-model="citySelected" on-select="cityChanged($item)" theme="select2" style="min-width: 300px;" title="בחר עיר">
                    <ui-select-match placeholder="לחץ לפתיחת הרשימה ו\או חיפוש עיר">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="city in cities | filter: {name: $select.search}">
                        <div ng-bind-html="city.name | highlight: $select.search"></div>

                    </ui-select-choices>
                </ui-select>

                <div>

                </div>

            </div>
            <div class="h2 text-center filered-title" style="margin-bottom: 0px; margin-top: 10px;">תמונת המצב ב{{ city }}, {{ agas_name }}</div>
            <div class="h4 mb-4 p-1 text-center filered-title">נכון ליום {{ date }}</div>
            <div class="results-table">
                <div class="row results-table-row">
                    <div class="box results-table-cell">
                        <div class="results-table-result">{{ covid[agasSelected.agas_code].hospitalized }}</div>
                        <div class="results-table-result-title">מבודדים</div>
                    </div>
                    <div class="box results-table-cell">
                        <div class="results-table-result">{{ covid[agasSelected.agas_code].cases }}</div>
                        <div class="results-table-result-title">חולים פעילים</div>
                    </div>
                    <div class="box results-table-cell">
                        <div class="results-table-result">{{ covid[agasSelected.agas_code].tested }}</div>
                        <div class="results-table-result-title">בדיקות יומיות</div>
                    </div>
                </div>
            </div>
            <div class="results-table">
                <div class="row">
                    <div class="box results-table-cell">
                        <div class="results-table-result">{{ covid[agasSelected.agas_code].deaths }}</div>
                        <div class="results-table-result-title">סה"כ נפטרים</div>
                    </div>
                    <div class="box results-table-cell">
                        <div class="results-table-result">{{ covid[agasSelected.agas_code].recoveries }}</div>
                        <div class="results-table-result-title">סה"כ מחלימים</div>
                    </div>

                </div>
            </div>

        </main>
        <footer class="container-fluid w-100 text-black-50 py-1 covid-footer text-right">
            <div class="covid-footer">
                <p>פותח על ידי חברי קהילת Python Israel בפייסבוק ובשיתוף עיריית ראש העין ומשרד הבריאות [לינק]</p>
            </div>
        </footer>
    </wrapper>
    <script>
        $('.dropdown-menu').find('input').click(function(e) {
            e.stopPropagation();
        });
    </script>
</body>

</html>