<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>CoronaInTheCity - http://www.coronainthecity.com/</title>

    <link href="../static1/css/bootstrap-4.3.1-dist/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-chart/2.0.9/LineChart.min.css" integrity="sha512-Aoi3jeQ+wVL+sz3gsrUJZlPABzM33M1DglVovzAg6iRmBJKlTDJELuOnCzMLm2ZJT3j1AnUCsJbVf8XShSoLwg==" crossorigin="anonymous" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static1/css/select.css">

    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static1/js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/line-chart/2.0.9/LineChart.min.js" integrity="sha512-41JdPRcZSEb5KDKolNHn1KXftlqqGqZHyCACkKA5Fyksby3Mz2vG6QbxCe3DnCy8cSeYXKCAMwYtZZM5TvBlpQ==" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static1/favicon.ico">
    <script src="../static1/js/jquery.min.js"></script>
    <script src="../static1/js/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../static1/js/bootstrap-4.3.1-dist/bootstrap.min.js"></script>
    <script src="../static1/js/select.js"></script>

    <script>
        document.write('<link href="../static1/css/main.css?ver=' + Math.floor(Math.random() * 100) + '"rel="stylesheet"\>');
        document.write('<script src="../static1/js/app.js?ver=' + Math.floor(Math.random() * 100) + '"\><\/script>');
        document.write('<script src="../static1/js/factories.js?ver=' + Math.floor(Math.random() * 100) + '"\><\/script>');
    </script>

    <!-- The Modal -->
    <div id="theTeamModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">צוות הפיתוח</h4> -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">אלירן זדה</h2>
                            <p class="about-title">מתכנת</p>
                        </div>
                        <div class="card-footer">
                            <p> <a class="button" href="https://www.linkedin.com/in/eliran-zada/" target="_blank">צור קשר</a></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title"> משה נחמיאס</h2>
                            <p class="about-title">מתכנת</p>
                        </div>
                        <div class="card-footer">
                            <p> <a class="button" href="https://www.linkedin.com/in/moshe-nahmias/" target="_blank">צור קשר</a></p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">רון לוי</h2>
                            <p class="about-title">מתכנת</p>
                        </div>
                        <div class="card-footer">
                            <p> <a class="button" href="mailto:ronlevy12000@gmail.com" target="_blank">צור קשר</a></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">מורן אדן</h2>
                            <p class="about-title">מתכנת</p>
                        </div>
                        <div class="card-footer">
                            <p> <a class="button" href="https://www.linkedin.com/in/moran-eden/" target="_blank">צור קשר</a></p>
                        </div>
                    </div>
                </div>

                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th>
                                שם מלא
                            </th>
                            <th>
                                כתובת דוא"ל
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                אלירן זדה
                            </td>
                            <td>
                                elizada@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>
                                מורן אדן
                            </td>
                            <td>
                                moran.eden@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>
                                משה נחמיאס
                            </td>
                            <td>
                                moshegrey@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>
                                רון לוי
                            </td>
                            <td>
                                ronlevy12000@gmail.com
                            </td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
</head>

<body ng-app="myApp" ng-controller="HomeCtrl">
    <wrapper class="d-flex flex-column">
        <div class="covid-header text-white">
            <div style="padding: 10px;">{{ currentDate | date:'dd/MM/yyyy' }}</div>
        </div>
        <main class="container-fluid py-3 flex-fill covid-main-body">
            <div class="title"></div>​
            <div id="error" ng-show="errorMsg">{{ errorMsg }}</div>
            <div class="covid-filters">
                <ui-select ng-model="model.citySelected" on-select="cityChanged($item)" theme="select2" style="min-width: 300px;" title="בחר עיר">
                    <ui-select-match placeholder="לחץ לפתיחת הרשימה ו\או חיפוש עיר">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="city in cities | filter: {name: $select.search} | orderBy:'name'">
                        <div ng-bind-html="city.name | highlight: $select.search"></div>

                    </ui-select-choices>
                </ui-select>

                <ui-select ng-model="model.agasSelected" on-select="agasChanged($item)" theme="select2" style="min-width: 300px;" title="בחר שכונה">
                    <ui-select-match placeholder="לחץ לפתיחת הרשימה ו\או חיפוש שכונה">{{$select.selected.districts}}</ui-select-match>
                    <ui-select-choices repeat="agas in agasFiltered 
                                        | propsFilter: {districts: $select.search,main_streets: $select.search } 
                                        | filter: unknownFilter
                                        | orderBy:'districts'">
                        <div ng-bind-html="agas.districts | highlight: $select.search"></div>
                        <small>
                           <span ng-bind-html="agas.main_streets | highlight: $select.search"></span>
                        </small>

                    </ui-select-choices>
                </ui-select>

                <button class="btn btn-primary m-2" type="button" data-toggle="collapse" data-target=".collapse" aria-expanded="true" aria-controls="#result-tables" ng-click="hideGraph = !hideGraph">
                    <span ng-show="hideGraph">הצג גרף</span>
                    <span ng-hide="hideGraph">סגור</span>
                    
                  </button>
            </div>
            <div class="h2 text-center filered-title" style="margin-bottom: 0px; margin-top: 10px;">תמונת המצב ב{{ model.citySelected.name }}, {{ model.agasSelected.districts }}</div>
            <div id="result-tables" class="collapse show">
                <div class="h4 mb-4 p-1 text-center filered-title">נכון ליום {{ date }}</div>
                <div class="container results-grid">
                    <div class="row results-table-row justify-content-center">
                        <div class="col-sm box results-table-cell">
                            <div class="results-table-result">{{ covid[model.agasSelected.agas_code].hospitalized }}</div>
                            <div class="results-table-result-title">סה"כ מאושפזים</div>
                        </div>
                        <div class="col-sm box results-table-cell">
                            <div class="results-table-result">{{ covid[model.agasSelected.agas_code].cases }}</div>
                            <div class="results-table-result-title">סה"כ מקרים מאומתים</div>
                        </div>
                        <div class="col-sm box results-table-cell">
                            <div class="results-table-result">{{ covid[model.agasSelected.agas_code].tested }}</div>
                            <div class="results-table-result-title">סה"כ נבדקים</div>
                        </div>
                    </div>
                    <div class="row results-table-row justify-content-center">
                        <div class="col-sm box results-table-cell">
                            <div class="results-table-result">{{ covid[model.agasSelected.agas_code].deaths }}</div>
                            <div class="results-table-result-title">סה"כ נפטרים</div>
                        </div>
                        <div class="col-sm box results-table-cell">
                            <div class="results-table-result">{{ covid[model.agasSelected.agas_code].recoveries }}</div>
                            <div class="results-table-result-title">סה"כ מחלימים</div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="{'graph-hidden' : hideGraph}">
                <div class="input-group mb-3 w-25 days-back-field" title="מספר הימים אחורה להצגת נתונים (מהיום) ">
                    <input type="text" class="form-control text-center" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-change="loadGraphData()" ng-model="graphDaysBack">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">מספר ימים</span>
                    </div>
                </div>
                <div class="my-chart">
                    <linechart data="graphData[model.agasSelected.agas_code]" options="options"></linechart>
                </div>
            </div>



        </main>
        <footer class="container-fluid w-100 text-black-50 py-1 covid-footer text-right">
            <div class="covid-footer">
                פותח על ידי חברי קהילת <a href="https://www.facebook.com/groups/306586986847428" target="_blank">Python Israel בפייסבוק</a> |
                <a href="#" id="theTeamLink" data-toggle="modal" data-target="#theTeamModal">רשימת המשתתפים</a>
            </div>
            <div class="covid-footer">
                <p>בשיתוף תחום חדשנות ויזמות ראש העין ו<a href="https://govextra.gov.il/ministry-of-health/corona/corona-virus/" target="_blank">משרד הבריאות</a></p>
            </div>
        </footer>
    </wrapper>

    <script>
        $('.dropdown-menu').find('input').click(function(e) {
            e.stopPropagation();
        });
    </script>

</body>

</html>